<div class="container">

    <pre class="form-value">{{myForm.value | json}}</pre>

  <!-- Little trick to center the inputs to the viewer -->
    <div class="form-container">
        <form id="input-form" [formGroup]="myForm" novalidate>

        <!-- Cycle through all the inputs -->
        <div *ngFor="let input of inputList; let i=index" [ngSwitch]="input.type">

            <input *ngSwitchCase="'checkbox'" 
                [name]="input.name" 
                type="checkbox" 
                [formControlName]="input.name" 
                [value]="input.value" 
                [ngStyle]="getInputPosition(input)">


            <input *ngSwitchCase="'radio'" 
                [name]="input.name" 
                type="radio" 
                [formControlName]="input.name" 
                [value]="input.value" 
                [ngStyle]="getInputPosition(input)">

            <!-- Insert an input accordingly and get the style/position from the component -->
            <input *ngSwitchDefault 
                [name]="input.name" 
                type="text" 
                [formControlName]="input.name" 
                [value]="input.value" 
                [ngStyle]="getInputPosition(input)">

        </div>
        </form>
    </div>

    <!-- Bind the zoom variable to the viewer component -->
    <pdf-viewer id="viewer" [src]="pdfSrc" [zoom]="zoom" (after-load-complete)="loadComplete($event)"></pdf-viewer>
</div>

<!-- Add some button -->
<button mat-mini-fab (click)="zoomOut()">-</button>
<button mat-fab (click)="zoomIn()">+</button>
